*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.ui.flex-container {
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.controls {
    flex-direction: column;

    align-items: center;
    border: 1px solid magenta;
    width: 300px;
}

.controls .grid-size {
    align-items: center;
    font-size: 1.125rem;
    padding: 5px 50px;
}

.container.flex-container {
    width: 700px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.container.flex-container > * {
    /* background-color: black; */
    border: 1px solid black;
    width: calc(5.9%);
    padding-top: calc(5.9%);
}