*,
*::before
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.container.flex-container > * {
    /* background-color: black; */
    border: 1px solid black;
    width: calc(6%);
    padding-top: calc(6%);
}